<!DOCTYPE html>
<html>
<head>
    <title>Kylin's WanderLust</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saturn template">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/kube.css" />
    <link rel="stylesheet" href="static/css/custom.css" />
    <link rel="shortcut icon" href="static/img/favicon.png" />
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<nav class="navbar logo-w navbar-left" >
					<a class="logo" href="blog.html">Kylin's WanderLust</a>
				</nav>
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">Kylin</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav navbar-right">
				    <ul>
				        <li class="active"><a href="blog.html">Lust</a></li>
				        <li><a href="gallery.html">Gallery</a></li>
				        <li><a href="#">Archive</a></li>
				        <li><a href="#">Contact</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Introduction -->
	<div class="intro">
		<div class="container">
			<div class="units-row">
			    <div class="unit-10">
			    	<img class="img-intro" src="static/img/avatar.png" alt="">
			    </div>
			    <div class="unit-90">
			    	<p class="p-intro">Hello, I’m Kylin. I’m proud to be a part of the earth.</p>
			    </div>
			</div>
		</div>
	</div>

	<!-- Content -->
	<div class="content">

		<div class="container">

			<div class="post">

				<a href="#"><h1>Take a break among the Utah rocks</h1></a>
				<hr>
				<div class="article-date">
					<strong>April 15 2019</strong>
				</div>
				<div class="in-content">
					<p>
						Lots of beautiful rocks, minerals and astonishing landcape of sedimentary rocks come from the state of Utah, which makes it a heaven for a rock-lover like me. There are 5 National Parks and 6 National Forests in Utah. The western part of the state yields obsidian, topaz, trilobites, agates, jaspers, and mineral specimens. The lower half of the east side of the state is particularly rich in rocks and minerals.
					</p>
					<a class="read-more" href="#">Read more</a>
				</div>
				<div class="foot-post">
					<div class="units-row">
					    <div class="unit-100">
					    	<strong>Tags:</strong>
					    	<a href="#">Utah</a>,
					    	<a href="#">Rocks</a>,
					    	<a href="#">Landscape</a>
					    </div>

					</div>
				</div>
			</div>


			<div class="post">
				<!-- Heading -->
				<a href="#"><h1>The fall colors in New England</h1></a>
				<hr>
				<div class="article-date">
					<strong>Oct 23 2019</strong>
				</div>
				<div class="in-content">
					<img class="right" src="static/img/new-england.jpg" alt="" style="width: 300px; margin-left: 10px">
					<p>
						When time comes to the fall, or autumn, New England gets attractively famous for its glorious foliage as billions of leaves change from green to a kaleidoscope of colors. The air is crisp and cool, which makes it perfect for hiking, biking or just taking a classic fly-drive break along back roads, where farm stands are piled high with crunchy apples and orange pumpkins.
					</p>
				</div>
				<div class="foot-post">
					<div class="units-row">
					    <div class="unit-100">
					    	<strong>Tags:</strong>
					    	<a href="#">Leaves</a>,
					    	<a href="#">Fall</a>,
					    	<a href="#">New England</a>
					    </div>
					</div>
				</div>
			</div>
			<!-- /post -->

		</div>
	</div>

	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<button class="btn btn-black"><i class="fa fa-arrow-left"></i> PREVIOUS</button>
			    </div>
			</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="js/jquery.min.js"></script>
    <script src="js/kube.min.js"></script>
</body>
</html>
