<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<p style="text-align: center; font-family: sans-serif; font-weight: bold">Tracking the progress of Demidovich exercises.</p>

	<div id="table1"></div>

	<p id="progress" style="text-align: center; font-family: sans-serif;">SOLVED: {{solved|length}} / 3000+</p>

	<script type="text/javascript">

		var record = {{solved}};

		// var fs = require('fs');
		// var data = fs.readFileSync("data/demidovich.json", "utf8");
		// var record = JSON.parse(data);
		// console.log(record);

		// var fs = require("fs");
		// console.log("Going to write into existing file");
		// // Open a new file with name input.txt and write Simply Easy Learning! to it.
		// fs.writeFile('input.txt', 'Simply Easy Learning!', function(err) {
		//    if (err) {
		//       return console.error(err);
		//    }
		//    console.log("Data written successfully!");
		//    console.log("Let's read newly written data");
		//    // Read the newly written file and print all of its content on the console
		//    fs.readFile('input.txt', function (err, data) {
		//       if (err) {
		//          return console.error(err);
		//       }
		//       console.log("Asynchronous read: " + data.toString());
		//    });
		// });


		// var record = JSON.parse(demidovich);

		function createQuestionsGrid(start, rows, cols, callback) {
		    var i = start;
		    var grid = document.createElement('table');
		    grid.className = 'grid';
		    for (var r = 0; r < rows; ++r) {
		        var tr = grid.appendChild(document.createElement('tr'));
		        for (var c = 0; c < cols; ++c){
		            var cell = tr.appendChild(document.createElement('td'));

		            cell.innerHTML = ++i;

		            if (record.indexOf(i) > -1) {
		            	cell.className = 'solved';
		            }

		            cell.addEventListener('click', (function(el, r, c, i) {
		                return function(){
		                    callback(el, r, c, i);
		                }
		            })(cell, r, c, i), false);
		        }
		    }
		    return grid;
		}

		function clickEvent(el, row, col, i) {

			var progressText = document.getElementById("progress").innerHTML;
			var reg = /(?:^|\s)SOLVED: ([0-9]*) \//g;
			var matched = reg.exec(progressText);
			var current = typeof matched[1] === 'undefined' ? record : parseInt(matched[1]);

			if (el.className == 'solved') {
				console.log("Unsolved question #: " + i);
				el.className = '';
				fetch('/update-demi/remove/' + i).then();

				progressText = progressText.replace(matched[1], current-1);
			}

			else {
				console.log("Solved question #: " + i);
				el.className = 'solved';
				fetch('/update-demi/add/' + i).then();

				progressText = progressText.replace(matched[1], current+1);
			}

			document.getElementById("progress").innerHTML = progressText;

		}
		
		var lastClicked;
		var numRows = 25;
		var numCols = 40;

		var grid1 = createQuestionsGrid(0, numRows, numCols, clickEvent);
		var grid2 = createQuestionsGrid(1000, numRows, numCols, clickEvent);
		var grid3 = createQuestionsGrid(2000, numRows, numCols, clickEvent);

		document.body.appendChild(grid1);
		document.body.appendChild(grid2);
		document.body.appendChild(grid3);

	</script>

	<style type="text/css">
		
		.grid { margin:1em auto; border-collapse:collapse }
		.grid td {
		    cursor: pointer;
		    width:31px; 
		    height:25px;
		    border:1px solid #cec;
		    text-align:center;
		    font-family:sans-serif; 
		    font-size: 11px;
		    background-color: #ffefff; 
		}
		.grid td.solved {
		    background-color: green;
		    opacity: 0.8;
		    font-weight:bold; 
		    color:green;

		}

	</style>

</body>

</html>