<!DOCTYPE html>
<html>
<head>
    <title>Kylin's WanderLust</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saturn template">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/kube.css" />
    <link rel="stylesheet" href="static/css/custom.css" />
    <link rel="shortcut icon" href="static/img/favicon.png" />
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<nav class="navbar logo-w navbar-left" >
					<a class="logo" href="blog.html">Kylin's WanderLust</a>
				</nav>
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">Kylin</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav navbar-right">
				    <ul>
				        <li><a href="blog.html">Lust</a></li>
				        <li class="active"><a href="gallery.html">Gallery</a></li>
				        <li><a href="#">Archive</a></li>
				        <li><a href="#">Contact</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>

	<!-- Content -->
	<div class="gallery">
		
		<div style="max-width: 400px" >
			<img src="static/img/new-england.jpg" style="max-width:50%;" />
		</div>	

		<a href="https://ibb.co/W5JNzhB"><img src="https://i.ibb.co/sRYp1fs/IMG-2396.jpg" alt="IMG-2396" border="0"></a>

	</div>


	<footer>
		<div class="container">

		</div>
	</footer>

	<!-- Javascript -->
	<script src="js/jquery.min.js"></script>
    <script src="js/kube.min.js"></script>
</body>
</html>
