<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kylin Home</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <!-- <link href="static/css/clean-blog.min.css" rel="stylesheet"> -->
  <link href="static/css/clean-blog.css" rel="stylesheet">
  <link href="static/css/home.css" rel="stylesheet">

</head>

<body>

  <div id="home-page">

    <!-- Header Nav Bar -->
    <div class="navbar">
      <div class="navbar_container">
        <div class="navbar-left-container">
          <div class="nav-item-container__16kF">
            <a href="/home.html" class="nav-item__5BvG">
              <img class="home-logo" src="/static/img/kylin.jpg" alt="logo">
            </a>
          </div>
          <div class="nav-item-container__16kF">
            <a href="/blog.html" class="nav-item__5BvG">
              WanderLust
            </a>
          </div>
          <div class="nav-item-container__16kF">
            <a href="#" class="nav-item__5BvG">
              Blog
            </a>
          </div>
          <div class="nav-item-container__16kF">
            <span class="nav-item__5BvG">
              <a class="nav-item__5BvG" href="#">
                About
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="home-content-wrapper">

      <div class="today-keyword">
        <div class="today-keyword-history-container cardboard-1">
          <div class="today-keyword-head">
            <div class="today-keyword-head-content"></div>
          </div>
          <div class="today-keyword-body">
            <svg class="keyword-calendar">
              <g clsss="keyword-calendar-label" transform="translate(12,0)">
                <text x="10" y="10" class="weekday">Mon</text>
                <text x="110" y="10" class="weekday">Tue</text>
                <text x="210" y="10" class="weekday">Wed</text>
                <text x="310" y="10" class="weekday">Thu</text>
                <text x="410" y="10" class="weekday">Fri</text>
                <text x="510" y="10" class="weekend">Sat</text>
                <text x="610" y="10" class="weekend">Sun</text>
              </g>
              <g class="keyword-calendar-content" transform="translate(0,15)">
                <g class="keyword-calendar-weekday">
                  <rect class="color-empty" width="20" height="15" x="0" y="0">
                    <title>text</title>
                  </rect>
                </g>
                <g class="keyword-calendar-weekday">
                </g>
                <g class="keyword-calendar-weekday">
                </g>
                <g class="keyword-calendar-weekday">
                </g>
                <g class="keyword-calendar-weekday">
                </g>
                <g class="keyword-calendar-weekend">
                </g>
                <g class="keyword-calendar-weekend">
                </g>

              </g>
            </svg>
          </div>
        </div>

        <div class="today-keyword-single-container cardboard-2">
          <div class="today-keyword-single-wrapper">
            <div class="today-keyword-single-print-word">
              <p><a href="">Archimedes</a></p>
            </div>
            <div class="today-keyword-single-others">

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <hr>

  <div style="text-align: center">
    <a href="/demidovich.html">Demidovich.</a>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/kylin.zhuo/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/lin-zhuo">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <!-- <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
            <!-- <li class="list-inline-item">
              <a href="https://github.com/kylin-zhuo">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
          </ul>
          <p class="copyright text-muted">Copyright &copy; Kylin Zhuo 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/clean-blog.min.js"></script>

</body>

</html>
