<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kylin Home</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <!-- <link href="static/css/clean-blog.min.css" rel="stylesheet"> -->
  <link href="static/css/clean-blog.css" rel="stylesheet">
  <link href="static/css/home.css" rel="stylesheet">
  <link href="static/css/coin.css" rel="stylesheet">

</head>

<body>

  <div id="home-page">

    <!-- Header Nav Bar -->
    <div class="navbar">
      <div class="navbar_container">
        <div class="navbar-left-container">
          <div class="nav-item-container__16kF">
            <a href="/home.html" class="nav-item__5BvG">
              <img class="home-logo" src="/static/img/kylin.jpg" alt="logo">
            </a>
          </div>
          <div class="nav-item-container__16kF">
            <a href="https://linzhuo.wixsite.com/website" class="nav-item__5BvG">WanderLust</a>
          </div>
          <div class="nav-item-container__16kF">
            <a href="/demidovich.html" class="nav-item__5BvG">Demodovich</a>
          </div>
          <div class="nav-item-container__16kF">
            <a class="nav-item__5BvG" href="/leetcode.html">Leetcode</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="home-content-wrapper">

      <!-- Today Keyword Content -->
      <div class="first-row-banner">

        <div class="today-keyword-container-left cardboard-1">
          <div class="today-keyword-month-selector">
            <span id='prev-month'>&#183;&#183;</span>
            <text>MONTH</text>  <text>YEAR</text>
            <span id='next-month'> &#183;&#183;</span>
          </div>
          <div class="today-keyword-calendar">
            <table>
              <thead>
                <tr>
                  <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
                </tr>
              </thead>
              <tbody>
                <tr class="week" id="week1">
                  <!-- template for script to create -->
                  <!-- <td><div class="day">1</div><div class="word">Word</div></td> -->
                  <!-- <td><div class="today">2</div><div class="today-word">Word</div></td> -->
                </tr>
                <tr class="week" id="week2"></tr>
                <tr class="week" id="week3"></tr>
                <tr class="week" id="week4"></tr>
                <tr class="week" id="week5"></tr>
                <tr class="week" id="week6"></tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Right Panel Box -->
        <div class="today-keyword-container-right">
          <div class="box-row-1">
              <a href="" id="today-keyword-cardboard"></a>
          </div>
          <div class="">
            <ul>
              <li>
                <span>Check out my new <a href="https://linzhuo.wixsite.com/website">wanderlust</a> website!!</span>
              </li>
              <li>
                <span>I am practicing the <a href="/demidovich.html">demidovich problems!</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="second-row-banner">
        <div class="second-row-banner-left">
        </div>
        <div class="second-row-banner-right">
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/clean-blog.min.js"></script>

  <script type="text/javascript">

    var monthSelectorKey;
    var dates = [];
    var words = [];
    var today = new Date();
    var months = ["January","February","March","April","May","June","July",
          "August","September","October","November","December"];
    var currentMonth = today.getMonth() + 1;
    const thisMonth = today.getMonth() + 1;
    var currentMonthText = months[today.getMonth()]; //January is 0
    var currentYear = today.getFullYear();
    const thisYear = today.getFullYear();
    var currentDay = today.getDate();
    const thisDay = today.getDate();
    var currentDayOfWeek = today.getDay();
    var todayWord;

    var tbody = document.querySelector(".today-keyword-calendar tbody");
    var monthbody = document.querySelector(".today-keyword-month-selector");

    var keywordsMap = JSON.parse('{{keywords_dict | tojson}}');

    function createMonthCalendar(year, month) {
      if (month <= 0 || month > 12) {
        console.error("Invalid value of month:", month);
        return;
      }

      // remove the rows
      $('tbody td').remove();

      // find the weekday of the 1st day of this year-month
      var weekDayOf1stDay = getWeekDayOf1stDay(year, month);

      // fill the text in the year-month placeholder
      var mmText = months[month-1];
      monthbody.children[1].innerText = mmText;
      monthbody.children[2].innerText = year;

      // fill a month of keywords in the calendar body
      for (var i = 0; i < 6; i++) {
        for (var j = 0; j < 7; j++) {
          var wrapper= document.createElement('td');
          var ith = 7*i + j+1;
          var _day, _word;
          if (ith < weekDayOf1stDay || ith - weekDayOf1stDay >= getNumberOfDaysInMonth(year, month)) {
            _day = '';
            _word = '';
          } else {
            _day = ith - weekDayOf1stDay + 1;
            var key = '' + year + '-' + month + '-' + _day;
            var map = keywordsMap[key];
            _word = !!keywordsMap[key] ? (keywordsMap[key][0] || '-') : '-';
          }
          if (i == 5 && j == 0 && 35 - weekDayOf1stDay >= getNumberOfDaysInMonth(year, month)) {
            break;
          }
          var tooltip = !!keywordsMap[key] ? (keywordsMap[key][1] || '') : '';
          if (parseInt(_day) === thisDay && month == thisMonth && year === thisYear) {
            console.log(year, month, _day);
            todayWord = _word;
            wrapper.innerHTML= '<div class=\"day today\">' + _day
                                + '</div><div class=\"word today-word\">' + _word
                                + '<span class="tooltiptext">' + tooltip + '</span></div>';
          } else {
            wrapper.innerHTML= '<div class=\"day\">' + _day
                                + '</div><div class=\"word\">' + _word
                                + '<span class="tooltiptext">' + tooltip + '</span></div>';
          }
          tbody.children[i].appendChild(wrapper);
          // show the today's word on the cardboard on the right
          document.querySelector('#today-keyword-cardboard').innerHTML = todayWord;
        }
      }
    }

    function getWeekDayOf1stDay(year, month) {
      // return new Date(year + '-' + month + '-1 00:00:00').getDay() || 7;
      return new Date(year, month-1, 1).getDay() || 7;

    }

    function getNumberOfDaysInMonth(year, month) {
      return new Date(year, month, 0).getDate();
    }

    function goToPrevMonth() {
      currentMonth -= 1;
      if (currentMonth < 1) {
        currentMonth = 12;
        currentYear -= 1;
      }
    }

    function goToNextMonth() {
      currentMonth += 1;
      if (currentMonth > 12) {
        currentMonth = 1;
        currentYear += 1;
      }
    }

    createMonthCalendar(currentYear, currentMonth);

    document.querySelector('#prev-month').addEventListener('click', function() {
      goToPrevMonth();
      createMonthCalendar(currentYear, currentMonth);
    });

    document.querySelector('#next-month').addEventListener('click', function() {
      goToNextMonth();
      createMonthCalendar(currentYear, currentMonth);
    });

    var heightLeftContainer = document.querySelector('.today-keyword-container-left').offsetHeight;
    document.querySelector('.today-keyword-container-right')
            .setAttribute("style", "height:" + heightLeftContainer + "px");

  </script>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/kylin.zhuo/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/lin-zhuo">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <!-- <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
            <!-- <li class="list-inline-item">
              <a href="https://github.com/kylin-zhuo">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
          </ul>
          <p class="copyright text-muted">Copyright &copy; Kylin Zhuo 2020</p>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
