<!DOCTYPE html>
<html>
<head>
	<title>Leetcode Visualization</title>
	<link rel="stylesheet" href="/static/css/leetcode.css">
</head>
<body>

	<div class="title">
		<span>Leetcode Solution Visualization</span> <span class='right'><a href="/home.html">Back</a></span>
	</div>

	<div class="question-wrapper"></div>

	<!-- modal to show answers-->
	<div id="answerModal" class="modal">
	  <div class="modal-content">
	    <span class="close">&times;</span>
	    <p style="font-weight: bold;">Question <a id="questionId"></a> - <a id="questionTitle"></a></p>
      <p class="questionDescription"></p>
      <div class="input-field" >
        <div class="" style="display: flex">
          <div class="input-unit hidden" id="input-unit-1">
            <label class="label" for="f1">array</label>
            <input id="input1" type="text" name="f1" value="[1,3,4,6,8]">
          </div>
          <div class="input-unit hidden" id="input-unit-2">
            <label class="label" for="f2">target</label>
            <input id="input2" class="" type="text" name="f2" value="10">
          </div>
					<div class="input-unit hidden" id="input-unit-3">
						<label class="label" for="f3">???</label>
						<input id="input1" type="text" name="f3" value="[1,3,4,6,8]">
					</div>
          <input id="show-answer-btn" type="button" name="show-answer" value="GO">
        </div>
      </div>
			<div class="svg-banner">
        <svg id="svg-container">
          <rect id="svg-border"/>
        </svg>
			</div>
	  </div>
	</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="/static/js/leetcode/svg-array.js"></script>
  <script src="/static/js/leetcode/execute.js"></script>
  <script src="/static/js/leetcode/utils.js"></script>
	<script src="/static/js/leetcode/configureInput.js"></script>

	<script type="text/javascript">

		var questionsDetails = {
		  '1': {
		    'title': 'Two Sum',
		    'description': ''
		  },

		  '448':  {
		    'title': 'Find All Numbers Disappeared in an Array',
		    'description': 'Given an array of integers where 1 ≤ a[i] ≤ n (n = size of array), some elements appear twice and others appear once. Find all the elements of [1, n] inclusive that do not appear in this array. Could you do it without extra space and in O(n) runtime? You may assume the returned list does not count as extra space.'
		  }
		};

    var questions = {{questions}};
		console.log("questions:", questions);
    var modal = document.getElementById("answerModal");

    function createQuestionButtons() {
      var wrapper = document.querySelector(".question-wrapper");
			var qid;
      for (var i in Object.keys(questions)) {
        qid = questions[i];
        var btn = document.createElement("BUTTON");
        btn.innerHTML = qid;
        wrapper.appendChild(btn);
      }
      for (var j in wrapper.children) {
        wrapper.children[j].onclick = function() {
					qid = this.innerHTML;
          console.log("Question #", qid, "shows answer modal");
          modal.style.display = "block";
          $("#questionId").get(0).innerHTML = qid;
					$("#questionTitle").get(0).innerHTML = questionsDetails[qid].title;
					configureInputFields(qid);
        };
      }
    }

		// Get the <span> element that closes the modal
		var closeAnswerButton = document.getElementsByClassName("close")[0];
		closeAnswerButton.onclick = function() {
		  modal.style.display = "none";
      clearSVG();
		}

		window.onclick = function(event) {
		  if (event.target == modal) {
		    modal.style.display = "none";
        clearSVG();
		  }
		}

	  createQuestionButtons();

    document.querySelector("#show-answer-btn").onclick = function () {
      var qid = parseInt($('#questionId').get(0).innerHTML);
      console.log("check the animation for question", qid);
      execute(qid);
    };

	</script>
</body>
</html>
